/* Fontes */

/*Fonte Logo*/
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
/*Fonte Geral*/
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

@media (min-width: 0px) {
  .navbar-brand img {
    display: none !important;
  }

  .navbuttons {
    display: none !important;
  }

  .navbar {
    position: fixed;
    background-color: var(--castanhotrans) !important;
  }

  .btnvoltarinicio {
    text-align: center;
    width: 100%;
    font-size: 3em;
    margin-bottom: 1vh;
  }

  .titulo-lojas {
    font-size: 2em;
    -webkit-text-stroke: 1px #a68d60;
  }

  .cardtop {
    margin-top: 2em !important;
  }
}

/* landscape phones, 576px and up */
@media (min-width: 576px) {
}

/* tablets, 768px and up */
@media (min-width: 768px) {
  .carousel-caption {
    text-align: left !important;
    max-width: 40% !important;
  }

  .carousel-caption p {
    font-size: 1.12em;
  }

  .btnvoltarinicio {
    font-size: 3em;
  }

  .titulo-lojas {
    font-size: 2.5em;
  }

  .cardtop {
    margin-top: 0 !important;
  }

  .textboxfactory {
    margin: 8em 0 0 2em !important;
    width: 60% !important;
  }

  .textboxfactory h3 {
    background-color: var(--castanho) !important;
    color: white;
    display: table; /* keep the background color wrapped tight */
    padding: 5px;
    font-size: 3em !important;
    background-color: green;
    color: #ffffff;
  }

  .textboxfactory p {
    margin-top: 2em !important;
    font-size: 1.3em !important;
    background-color: var(--castanhotrans) !important;
  }

  .footer-terms ul {
    margin-bottom: 0 !important;
  }

  .footer-terms ul a {
    font-size: 1em !important;
    margin: 0 5em 0 5em !important;
    text-decoration: none !important;
    color: var(--castanho);
  }

  .footer-terms li {
    display: inline !important;
  }

  /* pagina contactos */
  .contacts-main {
    margin: 20% 0 0 5% !important;
    max-width: 50% !important;
  }
}

/*cdesktops, 992px and up */
@media (min-width: 992px) {
  .btnlogin {
    display: none !important;
  }

  .btnloja {
    display: none !important;
  }

  .btnvoltarinicio {
    font-size: 3em;
    margin: 3vh;
    right: 0 !important;
    width: auto;
  }

  .navbar {
    position: absolute;
    background: none !important;
  }

  .navbar-brand {
    position: absolute;
  }

  .navbar-brand img {
    display: inline-block !important;
  }

  .navbuttons {
    display: inline-flex !important;
  }

  .titulo-lojas {
    font-size: 3.12em;
    -webkit-text-stroke: 2px #a68d60;
  }
  .form-contacts-box {
    margin-top: -13%;
  }
}

/* large desktops, 1200px and up */
@media (min-width: 1200px) {
  .titulo-lojas {
    font-size: 3.75em;
  }
}

/* larger desktops, 1400px and up */
@media (min-width: 1400px) {
}

/* cores utilizadas*/

:root {
  --branco: #e9f0f2;
  --brancotrans: #e9f0f2b7;
  --aclaro: #f2e291;
  --aclarotrans: #f2e291b7;
  --atorrado: #f2cc85;
  --atorradotrans: #f2cc85b7;
  --castanho: #a68d60;
  --castanhotrans: #a68d60b7;
  --preto: #0d0d0d;
  --pretotrans: #0d0d0db7;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #e9f0f2;
  font-family: "Special Elite", cursive !important;
}

/* Formulario Login */

.loginform {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  z-index: 11;
  width: auto;
  background-color: var(--atorrado);
  margin-top: 20%;
  border: 3px solid var(--castanho);
  display: none;
}

.loginform button {
  text-decoration: none !important;
  color: var(--castanho);
  float: right;
  margin: 1vh;
  background: none !important;
  border: none !important;
}

.loginform form {
  padding: 2vh;
  margin-bottom: 0;
}

.loginform table {
  text-align: center;
  color: var(--castanho);
}

.inputlogin {
  background: none !important;
  border: 0 !important;
  border-bottom: 2px solid var(--castanho) !important;
}

.gpassword {
  padding: 10px 0 10px 0;
  font-size: 0.8em;
}

/* Navbar mobile */
.collapsing {
  text-align: center;
}

.show {
  text-align: center;
}

.show li:hover {
  background-color: var(--aclarotrans) !important;
  margin: 0;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("../Img/tubeerlogohover.png") !important;
}

.navbar-toggler-icon {
  background-image: url("../Img/tubeerlogo.png") !important;
  background-size: 2.2em 2.2em !important;
  height: 2.2em !important;
  width: 2.2em !important;
}
/* Butoes mobile */

.btnlogin {
  bottom: 0;
  right: 0;
  padding: 3vh 1vh 1vh 3vh;
  position: fixed;
  font-size: 1.9em;
  background-color: var(--castanhotrans);
  border-top-left-radius: 50px;
  z-index: 12;
  border: none;
  color: var(--branco);
}

.btnlogin a {
  text-decoration: none !important;
}

.btnloja {
  bottom: 0;
  left: 0;
  padding: 3vh 3vh 1vh 1vh;
  position: fixed;
  font-size: 1.9em;
  background-color: var(--castanhotrans);
  color: var(--branco);
  border-top-right-radius: 50px;
  z-index: 12;
  border: none;
}

.btnvoltarinicio {
  position: fixed;
  bottom: 0;
  z-index: 11;
}

.btn-link-ini {
  color: var(--castanhotrans);
  -webkit-text-stroke: 2px var(--brancotrans);
}

.btn-link-ini:hover {
  color: var(--aclaro);
  -webkit-text-stroke: 2px var(--castanhotrans);
}

/* Navbar */

.navbar {
  width: 100%;
  z-index: 10;
  max-width: 100%;
  text-decoration: white !important;
  font-size: 0.92em;
}

.navbar-brand {
  vertical-align: middle;
  font-family: "Ultra", serif;
}

.navbar a:hover {
  color: var(--castanho) !important;
}

.nav-link {
  color: var(--branco) !important;
}

.navmain > li {
  margin-left: 30px;
  margin-right: 30px;
}

.navbuttons button {
  color: white;
  background: none;
  border: none;
}

.navbuttons button:hover {
  color: var(--castanho) !important;
}
/* Carousel */

.carousel .carousel-item {
  height: 800px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 800px;
}

.carousel-caption {
  transform: translateY(-50%);
  text-align: left !important;
  max-width: 80%;
  top: 50%;
  font-size: 0.92em;
}

/* Cartoes cervejas */

.mt-0 {
  margin-top: -4rem !important;
}

.card {
  background: none !important;
  border: none !important;
}

.card-img-top {
  border-radius: 0 !important;
  border: 10px solid #a68d60;
}

.card-body {
  font-family: "Special Elite", cursive !important;
}

.card-body .text-primary {
  color: #a68d60 !important;
}

.txt {
  z-index: 1 !important;
  margin-top: -45px !important;
  font-family: "Special Elite", cursive !important;
  font-weight: 400;
}

.txt a {
  text-decoration: none;
  color: #f2e291 !important;
  background-color: #a68d60;
}

/* Lojas*/

.titulo-lojas {
  position: relative;
  top: 40%;
  color: #f2e291 !important;
  font-family: "Special Elite", cursive !important;
}

.bg-lojas {
  background: #f2cc85;
}

.card-img-overlay button {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.btn-primary {
  background: #f2e291;
  border-radius: 0 !important;
  border-color: #a68d60;
  color: #a68d60;
  font-family: "Special Elite", cursive !important;
}

.btn-primary:hover {
  background: #a68d60;
  border-color: #f2e291;
}

.btn-primary:disabled {
  background: var(--castanho) !important;
  border-color: var(--aclaro) !important;
}

/* Info Fabrica */

.factory {
  background-image: url("../Img/fabrica.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid var(--castanho);
  color: var(--atorrado);
  min-height: 70%;
}

.textboxfactory {
  margin: 10em 0 0 0em;
  width: 100%;
}

.textboxfactory h3 {
  background-color: var(--castanho) !important;
  color: white;
  display: table; /* keep the background color wrapped tight */
  padding: 5px;
  font-size: 20px;
  background-color: green;
  color: #ffffff;
}

.textboxfactory p {
  font-size: 1em;
  background-color: var(--castanhotrans) !important;
}

/* Footer */

footer {
  background-color: var(--atorrado);
  color: var(--castanho);
}

footer h3 {
  font-size: 1.3em;
}

.footer-social ul {
  list-style: none;
  margin-top: 4em;
  padding: 0;
}

.footer-social li {
  display: inline;
}

.footer-social li a {
  text-decoration: none;
  color: var(--castanho);
  font-size: 5em;
  margin: 0.1em;
}

footer a:hover {
  color: var(--aclaro);
}

.footer-logo {
  width: 5em;
  display: block;
  margin: 0 auto;
}

footer input {
  background-color: var(--castanho);
  margin: 0 auto;
  text-align: center;
  color: var(--aclaro) !important;
  width: 60% !important;
}

footer input::placeholder {
  color: var(--aclaro) !important;
}

.footer-award {
  width: 5em;
  margin: 4em auto 0 auto;
}

.footer-terms {
  margin: 0 auto;
  border-top: 2px solid var(--castanho);
  padding: 0.5em 0.5em 0.1em 0.5em;
}

.footer-terms ul {
  text-align: center;
  list-style: none;
  margin-bottom: 4em;
}

.footer-terms ul a {
  font-size: 0.5em;
  margin: 0 2em 0 2em;
  text-decoration: none !important;
  color: var(--castanho);
}

.footer-terms li a:hover {
  color: var(--aclaro);
}

/* Página contactos */

/* Secçao inicial */

.contacts {
  min-height: 800px !important;
  background-image: url("../Img/bg-contactos.jpg");
  background-size: cover;
}

.contacts-main {
  margin: 30% 0 0 5%;
  max-width: 90%;
}

.contacts-main h1 {
  color: var(--branco);
  font-size: 3em;
  font-weight: bold;
}

.contacts-main p {
  color: var(--branco);
  background-color: var(--castanhotrans);
}

/* Secção form/contactos */

.contacts-numbers {
  color: var(--castanho);
  padding: 5 !important;
}
.contacts-numbers h3 {
  text-transform: uppercase;
}

.form-contacts-box {
  background-color: var(--aclaro);
  z-index: 3;
  border: 10px solid var(--castanho);
  color: var(--castanho);
}

.form-contacts-box h2 {
  font-size: 3em;
  margin: 1em 0 0 0.2em;
}

.form-contacts-box table {
  width: 100%;
  text-align: center;
}

.form-contacts-box input,
select,
textarea {
  width: 100%;
  margin-top: 20;
  border: 3px solid var(--castanho);
  color: var(--castanho) !important;
  background-color: var(--atorrado);
  resize: none;
}

.form-contacts-box input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--castanho) !important;
  font-size: 1em;
}

.form-contacts-box input {
  height: 2em;
}

.form-contacts-box button {
  background-color: var(--atorrado) !important;
  color: var(--castanho);
  border: 2px solid var(--castanho);
}

.form-contacts-box button:hover {
  background-color: var(--castanho) !important;
  color: var(--branco);
  border: 2px solid var(--atorrado);
}
